.warehouse {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 40px;
  box-sizing: border-box;
}
.warehouseContainer {
  width: 1000px;
  height: 85vh;
  overflow-y: scroll;
  background-color: #ecf0f3;
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;
}
.warehouseContainerUser {
  width: 500px;
  height: auto;
  background-color: #ecf0f3;
  padding: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;
}
.upContainer input[type="file"]::file-selector-button {
  display: none;
}
.upContainer input[type="file"]::placeholder {
  display: none;
}
.warehouseContainer h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 50px;
  color: #141414;
}
.warehouseContainer h3 {
  font-size: 14px;
  background-color: #5d4b41;
  padding: 15px 20px;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: capitalize;
}
.warehouseContainer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.warehouseContainer form .formBox {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.formField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.leftBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rightBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.warehouseContainer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ecf0f3;
  border-radius: 20px;
  box-shadow: inset 8px 8px 15px #cbced1, inset -8px -8px 15px white;
}
.warehouseContainer .requirements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.warehouseContainer .requirements input {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #ecf0f3;
  border-radius: 20px;
  box-shadow: inset 8px 8px 15px #cbced1, inset -8px -8px 15px white;
}
.warehouseContainer input {
  border: none;
  width: 100%;
  font-size: 16px;
  color: #555;
  font-weight: 300;
  background: transparent;
}
.warehouseContainer textarea {
  border: none;
  width: 100%;
  font-size: 16px;
  color: #555;
  font-weight: 300;
  background: transparent;
  resize: none;
}
.warehouseContainer input:focus {
  outline: none;
  background: transparent;
}
.warehouseContainer textarea:focus {
  outline: none;
  background: transparent;
}
.warehouseContainer select {
  border: none;
  width: 100%;
  font-size: 16px;
  color: #555;
  font-weight: 300;
  background: transparent;
}
.warehouseContainer button {
  background-color: #5d4b41;
  font-size: 16px;
  color: #fff;
  width: 200px;
  padding: 15px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s linear;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  box-shadow: 3px 3px 8px #cbced1, -3px -3px 8px white;
}
.warehouseContainer button:hover {
  background-color: #141414;
}

/* media query */
@media screen and (max-width: 1400px) {
  .warehouseContainer {
    width: 100%;
    padding: 30px;
  }
  .warehouseContainer h2 {
    font-size: 20px;
  }
  .warehouseContainer button {
    font-size: 16px;
    padding: 15px 30px;
  }
}
@media screen and (max-width: 650px) {
  .warehouseContainer form .formBox {
    flex-direction: column;
  }
  .leftBox {
    width: 100%;
  }
  .rightBox {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .warehouseContainer {
    padding: 30px;
  }
  .warehouse {
    padding: 20px;
  }
}
