.dashboard{
    width: 100%;
    height: 100%;
}
.dashboardContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.dashboardNav .mainLogo{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.dashboardLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.dashboardLogo p{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #FF4719;
    border-radius: 50px;
    background-color: #ecf0f3;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}
.dashboardNav{
    width: 300px;
    background-color: #2C343B;
    height: 100vh;
    border-top: 1px solid #0000003d;
    padding: 30px;
    box-sizing: border-box;
}
.dashboardNav h2{
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    font-family: "Poppins", sans-serif;
    line-break: anywhere;
}
.dashboardNav ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}
.dashboardNav ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #dcdcdc;
    transition: 0.2s linear;
}
.dashboardNav ul li:hover{
    padding-left: 8px;
    color: #fff;
}
.dashboardNav ul li svg{
    font-size: 15px;
}
.dashboardNav ul li a{
    font-size: 16px;
    color: #dcdcdc;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
.dashboardContent h2{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #141414;
    padding-bottom: 30px;
}
.dashboardContent{
    width: 100%;
}

/* media query */
@media screen and (max-width: 768px){
    .formFooter{
        flex-direction: column;
        align-items: flex-start;
    }
    .formFooter button{
        width: 100%;
    }
    .formFooter a{
        width: 100%;
    }
    .dashboardNav{
        display: none;
    }
}
@media screen and (max-width: 1655px){
    .dashboardContainer{
        overflow: hidden;
    }
}
@media screen and (max-width: 668px){
    .dashboardNav{
        width: 40%;
    }
    .dashboardContent{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .dashboardContainer{
        flex-direction: column;
    }
    .dashboardNav{
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
    }
    .dashboardContent{
        width: 100%;
    }
}