header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 30px 2px rgba(0,0,0,.1);
}
.headerContainer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 16px;
    color: #141414;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: 0.3s;
    padding-left: 30px;
    text-transform: capitalize;
}
.headerContainer .menu{
    display: flex;
    gap: 20px;
}
.headerContainer .menu h2{
    display: none;
}
.headerContainer .menu .mainMenu{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.headerContainer .menu .mainMenu li{
    list-style: none;
}
.headerContainer .menu .mainMenu li a{
    font-size: 16px;
    color: #141414;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
.headerContainer .menu .mainMenu li a:hover{
    color: #FF4719;
    border-bottom: 1px solid #FF4719;
}
.hamBurger{
    background-color: #FF4719;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: none;
}
.headerLogo .mainLogo{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #141414;
    font-family: "Poppins", sans-serif;
}
.headerLogo span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.headerLogo{
    display: none;
}
.headerLogo p{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #FF4719;
    border-radius: 50px;
    background-color: #ecf0f3;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}
/* media query */
@media screen and (max-width: 1000px){
    .headerContainer{
        width: 95%;
    }
}
@media only screen and (max-width: 768px) {
    .headerContainer .menu .mainMenu{
        display: none;
    }
    .headerContainer .menu .hamBurger{
        display: block;
    }
    .logo{
        display: none;
    }
    .headerLogo{
        display: block;
    }
}